body {
    background-image: url("images/wallpaper.png");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

h1,
h2,
h3,
h4 {
    font-family: 'Comic Sans MS', cursive;
}

h2 {
    font-weight: lighter;
}

#header {
    text-align: center;
    font-family: 'Comic Sans MS', cursive;
    ;
}

a {
    font-style: italic;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}


#photo {
    width: 400px;
    height: 600px;
    padding: 20px;
}

h3 {
    text-align: center;
}

.flexcontainer {
    display: inline-flex;
    justify-content: space-around;
    align-items: flex-start;
}


.element {
    flex: 0 2 17%;
    padding: 15px;
    font-family: 'Comic Sans MS', cursive;
}

.footer {
    text-align: center;
    border: solid black;
    background-color: pink;
    padding: 10px;
}