body {
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-weight: bold;
    text-align: center;
}

.taskPlanning {
    margin-left: 1em;
}

h2 {
    font-weight: bolder;
    text-align: left;
    margin-top: 2em;
}

.taskAdding {
    display: flex;
}

#task_inp {
    width: 25vw;
    color: grey;
    padding: 10px;
    border: solid 1px rgb(244, 242, 242);
}

#task_inp:focus {
    color: black;
}

.btn {
    background-color: rgb(233, 199, 148);
    color: black;
    font-weight: bolder;
    padding: 15px 30px 15px 30px;
    margin-left: 1em;
    border: none;
}

.taskContainer {
    display: flex;
    flex-direction: column;
    width: 35.2vw;
    height: 40vh;
}

.taskList {
    justify-self: center;
    align-self: center;
    font-weight: bold;
    font-size: x-large;
    color: rgb(191, 187, 187);
}

.taskItem {
    display: flex;
    font-size: medium;
    font-weight: 400;
    color: black;
}

#taskList__cleanBtn {
    justify-self: flex-end;
    align-self: flex-end;
    margin-top: 2em;
}