h1 {
    text-align: center;
}

.slider {
    display: flex;
    justify-content: center;
}

.slider__img {
    width: 30%;
}

.btn__wrapper {
    display: flex;
    justify-content: center;
}

.btn {
    color: #FFFF;
    font-weight: bold;
    background-color: rgb(232, 42, 137);
    border: none;
    padding: 15px 20px 15px 20px;
    margin: 20px;
}

.btn:hover {
    text-decoration: underline;
}